:root {
  --main-gap: 30px;
  --main-color: #212121;
  --text-gray-color: #757575;
  --accent-color: #2196f3;
  --main-white-color: #ffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --secondary-black-color: #000000;
  --background-dark-color: #2f303a;
  --background-gray-color: #c4c4c4;
  --background-light-color: #f5f4fa;
  --background-blue-color: #188ce8;
  --icon-gray-color: #afb1b8;
  --transition-time: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  background-color: var(--main-white-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -----Header Positioning----- */

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: 93px;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-link,
.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--transition-time) var(--transition-function);
}

.contacts-list {
  display: flex;
  gap: 30px;
  margin-left: auto;
}

/* -----Header-Logo----- */

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.secondary-black {
  color: var(--secondary-black-color);
}

/* -----Header Site Nav----- */
.header-link {
  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-list .current {
  color: var(--accent-color);
}

.header-link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* -----Header Contacts----- */
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-gray-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* -----Hero Section----- */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--background-gray-color);
}

.hero-overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 227px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  cursor: pointer;

  transition: background-color var(--transition-time) var(--transition-function);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--background-blue-color);
}

/* -----List of Features----- */
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--main-gap);
}

.features-item {
  width: calc((100% - 3 * var(--main-gap)) / 4);
}

.feature-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  height: 120px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--background-light-color);
}

.features-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-gray-color);
}

/* -----What We Do----- */
.activities.section {
  padding-top: 0;
  text-align: center;
}

.activities-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.activities-list {
  display: flex;
  flex-wrap: wrap;

  gap: var(--main-gap);
}

.activities-item {
  position: relative;

  width: calc((100% - 2 * var(--main-gap)) / 3);
}

.activity-title-wrap {
  position: absolute;
  bottom: 0;

  padding: 27px;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);
}

.activity-title {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-white-color);
}

/* -----Our Team----- */
.team {
  text-align: center;

  background-color: var(--background-light-color);
}

.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--main-gap);
}

.team-item {
  width: calc((100% - 3 * var(--main-gap)) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-item-description {
  padding: 30px;
}

.team-member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-member-role {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-gray-color);
}

.team-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-gray-color);
  background-color: var(--main-white-color);

  transition: color var(--transition-time) var(--transition-function),
    background-color var(--transition-time) var(--transition-function);
}

.team-soc-icon {
  fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

/* -----Our Clients----- */
.clients {
  text-align: center;
}

.clients-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--main-gap);
}

.client-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc((100% - 5 * var(--main-gap)) / 6);
  height: 92px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: color var(--transition-time) var(--transition-function),
    border var(--transition-time) var(--transition-function);

  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-gray-color);
  border-radius: 4px;
  color: var(--icon-gray-color);
}

.client-icon {
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* -----Portfolio Page----- */

/* -----Filter Buttons----- */
.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--background-light-color);
  cursor: pointer;

  transition: color var(--transition-time) var(--transition-function),
    background-color var(--transition-time) var(--transition-function),
    box-shadow var(--transition-time) var(--transition-function);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* -----Portfolio Items----- */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  margin-left: 30px;
  margin-top: 30px;

  flex-basis: calc(100% / 3 - 30px);

  transition: box-shadow var(--transition-time) var(--transition-function);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-image-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform var(--transition-time) var(--transition-function);

  padding-top: 63px;
  padding-right: 24px;
  padding-left: 24px;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--main-white-color);
}

.portfolio-item-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-gray-color);
}

/* -----Footer----- */
/* -----Footer Positioning----- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-dark-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-address {
  margin-right: 70px;
}

.footer-list {
  gap: 9px;
}

/* -----Footer Logo----- */
.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.main-white {
  color: var(--main-white-color);
}

/* -----Footer Contacts----- */

.footer-address {
  margin-top: 20px;

  font-style: normal;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-white-color);

  transition: color var(--transition-time) var(--transition-function);
}

.footer-link.contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* -----Social Links----- */

.social-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 93px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-white-color);

  transition: background-color var(--transition-time) var(--transition-function);
}

.social-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

/* -----Subscription Form----- */
.subscribe-form {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.subscribe-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.input-button-wrap {
  display: flex;
  align-items: center;
}

.subscribe-field {
  margin-right: 12px;
  padding: 15px 16px;
  min-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 200px;
  height: 50px;
  padding: 10px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background: var(--accent-color);
  cursor: pointer;
}

.subscribe-button-title {
  margin-right: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
}

.subscribe-icon {
  fill: var(--main-white-color);
}

/* -----Modal Window----- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 1;
  transition: opacity var(--transition-time) var(--transition-function),
    visibility var(--transition-time) var(--transition-function);

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-time) var(--transition-function);

  min-width: 528px;

  background-color: var(--main-white-color);
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  color: var(--secondary-black-color);
  transition: color var(--transition-time) var(--transition-function);

  background: transparent;
  cursor: pointer;
}

.close-icon {
  fill: currentColor;
}

.modal-button:hover,
.modal-button:focus {
  color: var(--accent-color);
}

/* -----Request Form----- */
.request-form {
  width: 448px;
  }

.request-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.request-field-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.request-field-title {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-gray-color);
}

.input-svg-wrap {
  position: relative;
}

.request-field {
  width: 100%;
  height: 40px;
  padding: 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-gray-color);

  transition: border var(--transition-time) var(--transition-function);
}

.request-field:focus {
  border: 1px solid var(--accent-color);
}

.request-field + .request-icon {
  transition: var(--transition-time) var(--transition-function);
}

.request-field:focus + .request-icon {
  fill: var(--accent-color);
}

.request-icon {
  position: absolute;
  bottom: 50%;
  left: 12px;
  transform: translateY(50%);
  fill: currentColor;
}

.request-comment-wrap {
  margin-bottom: 20px;
}

.request-comment-title {
  display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-gray-color);
}

.request-comment-area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.request-comment-area {
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-gray-color);
  cursor: pointer;

  transition: border var(--transition-time) var(--transition-function);
}

.request-comment-area:focus {
  border: 1px solid var(--accent-color);
}

.request-checkbox-wrap {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.request-checkbox-field {
  margin-right: 7px;
}

.request-checkbox-title {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-gray-color);
}

.request-checkbox-title span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  fill: transparent;

  transition: fill var(--transition-time) var(--transition-function),
    border var(--transition-time) var(--transition-function),
    background-color var(--transition-time) var(--transition-function);
}

.request-checkbox-field:checked + .request-checkbox-title span {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--main-white-color);
}

.privacy {
  color: var(--accent-color);
  margin-left: 7px;
}

.request-button-wrap {
  display: flex;
  justify-content: center;
}
.request-button {
  padding: 10px;
  min-width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  color: var(--main-white-color);

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
