.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: 93px;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-link,
.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--transition-time) var(--transition-function);
}

.contacts-list {
  display: flex;
  gap: 30px;
  margin-left: auto;
}


/* -----Header Site Nav----- */
.header-link {
  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-dark-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-list .current {
  color: var(--accent-color);
}

.header-link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* -----Header Contacts----- */
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-gray-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}